/* -------------------- General*/

.hide {
  visibility: hidden;
}

.container {
  min-height: 95vh;
  min-width: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  margin: auto;
}

/* -------------------- Game header*/

#game-header {
  margin-top: 85px;
  padding: 0 20px;
}

/* ---------- Score count & Question count */

#score-count h3,
#question-count h3 {
  font-size: 14px;
}

#score-number,
#question-number {
  color: #8c5f66;
  font-size: 26px;
  font-weight: 500;
}

/* ---------- Timer */

#countdown {
  position: relative;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 80px;
  width: 80px;
}

#countdown-number {
  color: #adbca5;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: 500;
  line-height: 80px;
}

#svg-timer {
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotateY(-180deg) rotateZ(-90deg);
}

#timer {
  stroke-dasharray: 226px;
  stroke-dashoffset: 0px;
  stroke-linecap: round;
  stroke-width: 4px;
  stroke: #adbca5;
  fill: none;
}
.animation {
  animation: countdown 30s linear 1 forwards;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 226px;
  }
}

/* -------------------- Start & End popup*/

#start-popup ul {
  padding-inline-start: 20px;
  list-style-type: circle;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}

#start-popup div {
  display: flex;
  max-width: 300px;
  border: 1.5px dashed #8c5f66;
  padding: 10px;
  margin: auto;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

#start-popup ul,
#start-popup li {
  margin-bottom: 10px;
}

#start-popup,
#end-popup {
  min-width: 85%;
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  background-color: #fafafa;
  padding: 20px;
  border: 1px solid #333333;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#end-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#end-popup h2 {
  margin-bottom: 0;
}

#finalScore {
  color: #8c5f66;
  font-size: 40px;
  font-weight: 500;
}

a.start-btn.btn {
  border: solid 1px #333333;
  background-color: #adbca5;
  padding: 2px;
  margin: 5px;
  font-size: 14px;
}

a.start-btn.btn:hover,
a.start-btn.btn:focus {
  filter: brightness(120%);
}

.btn-size {
  width: 10rem;
}

#username {
  margin: auto;
  box-shadow: 0 0.1rem 0.5rem 0 #333333;
}

/* -------------------- Map- answer buttons*/

#answer-buttons {
  display: block;
  margin: auto;
  max-width: 75%;
  margin-bottom: 5%;
}

.choice {
  fill: #e8b9ab;
}

.choice:hover {
  fill: #e09891;
}

/* -------------------- Questions*/

#question-container {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
}

.btn-info {
  background: rgba(203, 118, 158, 0.7);
  font-size: 28px;
  border: 2px dotted #fafafa;
  max-width: 80px;
}

.btn-info:focus,
.btn-info:hover {
  background: rgba(203, 118, 158, 1);
  border: 2px dotted #fafafa;
  box-shadow: none;
}

.btn-info:active,
.btn-info:not(:disabled):not(.disabled):active {
  background: rgba(203, 118, 158, 1);
  border: 2px dotted #fafafa;
}

#question-box {
  background: rgba(203, 118, 158, 0.7);
  border: none;
  border-radius: 5px;
  font-size: 20px;
  padding: 5px 15px;
  color: #fafafa;
}

/* -------------------- Media queries*/

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
  #answer-buttons {
    max-width: 50%;
  }
  #start-popup {
    top: 50%;
  }
  #countdown-number {
    left: 50%;
  }
}
/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
  #start-popup {
    top: 40%;
  }
  #answer-buttons {
    max-width: 50%;
  }
  #question-box {
    font-size: 24px;
    padding: 20px;
  }
  #start-popup,
  #end-popup {
    min-width: 50%;
  }
}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
  #start-popup {
    top: 35%;
  }
  #answer-buttons {
    max-width: 35%;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  #answer-buttons {
    max-width: 35%;
  }
}
