@import url("https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700");

/*--- General ---*/
.row,
.col {
  margin: 0;
  padding: 0;
}
html body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background: #e8b8ab40;
  font-family: "Raleway", sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
}
header {
  margin-right: 10px;
  margin-left: 10px;
}

/*--- Nav Menu ---*/
.dropdown {
  text-align: right;
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  margin: 10px 10px 0 10px;
  font-size: 30px;
  border-color: none;
  color: #8c5f66;
  border: none;
  box-shadow: none;
}
.dropdown-item {
  font-weight: 300;
  letter-spacing: 0.5px;
  background-color: #fafafa;
  color: #333333;
}
.menu-item:hover,
.menu-item:focus,
.menu-item:active {
  background-color: #fafafa;
  color: #333333;
  text-decoration: underline solid #8c5f66;
}
#menu-item-leaderboard {
  margin: 5px 0 10px 0;
}
#dropdown-item-leaderboard {
  background: #adbca5;
  border: 0.5px solid #333333;
  margin: 5px;
  padding: 5px 10px;
}
#dropdown-item-leaderboard:hover,
#dropdown-item-leaderboard:focus,
#dropdown-item-leaderboard:active {
  filter: brightness(110%);
}
.list-inline {
  text-align: center;
}
.list-inline a {
  padding: 8px;
  font-size: 18px;
  color: #8c5f66;
}
.list-inline a:hover,
.list-inline a:focus,
.list-inline a:active {
  filter: brightness(120%);
  text-decoration: none;
}

/*--- Callout--- */
.container {
  position: relative;
  text-align: center;
}
/* Marker */
#marker {
  font-size: 50px;
  color:#8c5f66;
  padding-top: 30px;
}
/* Brain Image */
#brain {
  width: 60%;
  padding-top: 10px;
  padding-bottom: 20px;
}
/* Overlay text */
#overlay-text {
  /*https://www.w3schools.com/howto/howto_css_image_text.asp*/
  background-color: #8c5f6690;
  padding: 8px 60px;
  font-size: 30px;
  color: #fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Text */
#intro-text {
  text-align: center;
  padding: 0 5rem;
  font-size: 13px;
  font-weight: 600;
}
/* Start btn */
.btn-container {
  text-align: center;
  padding: 20px;
}
#start-btn {
  background-color: #adbca5;
  border-color: #333333;
  border-radius: 50%;
  padding: 5px 20px;
  font-weight: 600;
}
