@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Ranchers&display=swap");

/*---- General ----*/
.row,
.col {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}
html body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background: #e8b8ab40;
  font-family: "Raleway", sans-serif;
  color: #333333;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

/*---- Nav Menu ----*/
.dropdown {
  text-align: right;
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-toggle,
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  margin: 10px 10px 0 10px;
  font-size: 30px;
  border-color: none;
  color: #8c5f66;
  border: none;
  box-shadow: none;
}
.dropdown-menu {
  background: #fafafa;
}
.dropdown-item {
  font-weight: 300;
  background-color: #fafafa;
}
.menu-item:hover,
.menu-item:focus,
.menu-item:active {
  background-color: #fafafa;
  color: #333333;
  text-decoration: underline solid #8c5f66;
}
/*-- Leaderboard button --*/
#menu-item-leaderboard {
  margin: 5px 0 10px 0;
}
#dropdown-item-leaderboard {
  background: #adbca5;
  border: 0.5px solid #333333;
  margin: 5px;
  padding: 5px 10px;
}
#dropdown-item-leaderboard:hover,
#dropdown-item-leaderboard:focus,
#dropdown-item-leaderboard:active {
  filter: brightness(120%);
}

/*-- Social Links --*/
.list-inline {
  text-align: center;
}
.list-inline a {
  padding: 8px;
  font-size: 18px;
  color: #8c5f66;
}
.list-inline a:hover,
.list-inline a:focus,
.list-inline a:active {
  filter: brightness(120%);
  text-decoration: none;
}

/*---- Callout ---- */
#home-outer {
  margin-top: 8%;
  padding-bottom: 0;
  text-align: center;
}
.container {
  position: relative;
  text-align: center;
}

/* Brain Image */
#brain {
  width: 60%;
  max-width: 250px;
  margin-top: 25%;
  padding-bottom: 20px;
  filter: opacity(0.85);
}
/* Overlay text */
#overlay-text {
  background-color: #8c5f6690;
  font-family: "Ranchers", sans-serif;
  padding: 0% 14%;
  font-size: 35px;
  letter-spacing: 1px;
  color: #fafafa;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Text */
#intro-text {
  text-align: center;
  font-weight: 400;
  padding: 10px;
}
/* Start btn */
.btn-container {
  padding: 20px;
}
#start-btn,
#letsgo-btn {
  background-color: #adbca590;
  border: solid 1px #adbca5;
  border-radius: 5%;
  padding: 5px 20px;
  font-weight: 500;
  color: #333333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#start-btn:hover,
#start-btn:focus,
#letsgo-btn:hover,
#letsgo-btn:focus {
  filter: brightness(120%);
  text-decoration: none;
}

#letsgo-btn {
  margin-top: 10px;
}

/*--- About section --- */
.section-outer {
  text-align: center;
  padding: 8% 10% 0% 10%;
}
.bg-darker {
  background-color: #e8b8ab80;
}

h2 {
  font-size: 16px;
  letter-spacing: 0.5px;
  font-weight: 600;
}

h2 span {
  font-size: 20px;
  color: #8c5f66;
  font-weight: 800;
}

h3 {
  font-size: 13px;
  font-weight: 600;
}

i.feature-icon {
  font-size: 20px;
  color: #8c5f66;
}

p {
  font-size: 13px;
  padding: 0 15px;
}
.section-p {
  padding-bottom: 8%;
}

#feature-items {
  padding: 20px;
}

/* Contact */

#contact {
  padding-bottom: 4%;
}

#contact-form {
  background-color: #fafafa;
  padding: 25px;
  border: 1px solid #333333;
  border-radius: 5%;
  max-width: 550px;
  justify-content: center;
  margin: auto;
}

.control-label {
  padding-top: 5px;
}

/*--Submit button--*/

#btn-submit {
  text-align: center;
  margin-top: 5%;
}

button[type="submit"] {
  color: #fafafa;
  background-color: #8c5f66;
  border: 1px solid #333333;
  font-size: 14px;
}

button[type="submit"]:hover,
button[type="submit"]:focus,
button[type="submit"]:active {
  background-color: #8c5f66;
  filter: brightness(120%);
  color: #fafafa;
}

/* Footer */
footer {
  margin: 0;
  background-color: #8c5f6650;
  min-height: 5vh;
  padding-bottom: 0;
}

#index-footer {
  position: absolute;
  bottom: 0;
}

.copyright {
  font-size: 10px;
  padding-top: 0.5rem;
  font-weight: 500;
  text-transform: none;
}

/* Scroll */
.scroll {
  font-size: 20px;
  color: #8c5f66;
  position: relative;
}

.scroll:hover,
.scroll:focus {
  color: #8c5f66;
  filter: brightness(120%);
}
/*---------------------------------Media Queries---*/

/*Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
  #brain {
    margin-top: 18%;
  }
  #overlay-text {
    top: 55%;
  }
  #start-popup {
    top: 40%;
  }
}

/*Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
  #brain {
    margin-top: 14%;
  }
  #overlay-text {
    top: 55%;
    padding-left: 12%;
    padding-right: 12%;
  }
  .section-outer {
    padding-right: 12%;
    padding-left: 12%;
  }
  #start-popup {
    top: 30%;
  }
}

/*Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
  #brain {
    margin-top: 10%;
    max-width: 280px;
  }
  #overlay-text {
    top: 57%;
    padding-left: 10%;
    padding-right: 10%;
  }
  .section-outer {
    padding-right: 14%;
    padding-left: 14%;
  }
  #start-popup {
    top: 20%;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
  #brain {
    margin-top: 6%;
  }
  #overlay-text {
    top: 55%;
    padding-left: 9%;
    padding-right: 9%;
  }
  .section-outer {
    padding-right: 16%;
    padding-left: 16%;
  }
}
